# Blockchain
RPC_URL=http://asset.example.com:8485

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=indexer
PG_PASSWORD=changeme
PG_DATABASE=dvre_indexer

#Indexer
CATCHUP_BATCH_SIZE=1000
GAP_CHECK_INTERVAL=10000